.container {
  display: flex;
  padding: 1rem;
  justify-content: left;
  align-items: flex-start;
  height: 100vh;
  background-color: #f5f5f5;
  gap: 0.5rem;
}

mat-form-field {
  width: 100%;
}

.calendar-card {
  width: 20rem;
}

.container-sheet {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.2rem;
}

.table {
  align-items: end;
}

.custom-paginator mat-paginator {
  border-radius: 0.5rem;
}
